* {
    background-color: #98EECC;
    font-family: poppins;
    color: darkcyan;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
    background-color: #FBFFDC;
    padding: 10px;
}

li {
    background-color: #FBFFDC;
    list-style: none;
}