* {
    background-color: #98EECC;
    font-family: poppins;
    color: darkcyan;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    background-color: #FBFFDC;
    padding: 10px;
}


h3 {
    background-color: #FBFFDC;
    padding: 5px;
}

li {
    font-weight: bold;
    padding: 5px;
    background-color: #FBFFDC;
    margin: 5px;
}

.menu {
    width: 30%;
}